:root {
    --box-color: #252525;
    --bg-color: #181A1B;
    --black: #1b1b1b;
    --white: #fff;
    --light-white: #d4d4d4;
    --border-color: #707070;
    --top-attention: #a80000;
    --color-black: #000;
}

.box-color {
    color: var(--box-color);
}

.bg-color {
    color: var(--bg-color);
}

.white {
    color: var(--white);
}

.light-white {
    color: var(--light-white);
}

.border-color {
    color: var(--border-color);
}

.top-attention {
    color: var(--top-attention);
}

.color-black {
    color: var(--color-black);
}

.white-text {
    color: var(--white)
}

.gray-text {
    color: var(--border-color);
}

.bg-box {
    background-color: var(--box-color);
}