.row {
    width: 100%;
}

.center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar {
    width: 20%;
    border-top-right-radius: 0% !important;
    border-bottom-right-radius: 0% !important;
    /*background-color: var(--box-color);*/
    background-color: var(--box-color);

}

.content {
    flex-grow: 1;
    padding: 0%;
    overflow: hidden;
}

.row-product {
    width: 100%;
    max-height: 15.625em;
    overflow-wrap: normal;
}

.button-cart:hover {
    transform: scale(1.2);
}

.product-link img {
    max-width: none;
}

.product-link,
.product-link:visited,
.product-link:hover {
    text-decoration: none;
}

.fixed-size {
    margin-top: 65% !important;
    width: 8em;
    height: 4em;
}

@media (max-width: 48em) {
    .variable-sizing {
        display: flex;
        flex-direction: column;
    }

    .fixed-size {
        margin-top: 0% !important;
    }

    .col-lg-10.col-md-8,
    .col-lg-2.col-md-4 {
        width: 100%;
    }

    .container-fluid.ms-3.m-2 {
        margin: 0%;
        display: none;
    }

    .row-product {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-height: none;
    }

    .col-lg-10.col-md-8,
    .col-lg-2.col-md-4 {
        width: 50%;
    }
}

.page-item .page-link {
    color: var(--white);
    background-color: var(--bg-color);
    border: none;
    font-size: 1.5rem;
}

.page-item .page-link.current {
    background-color: var(--top-attention);
}

@media (min-width: 576px) {
    .product-info {
        max-height: 230px;
        overflow: hidden;
    }
}

.form-check {
    color: white;
    padding-right: 2em;
}