/*** BASIC ***/
body {
    background-color: var(--bg-color);
}

header {
    background-color: var(--box-color);
    width: 100%;
}

.row {
    width: 100%;
}

/* This makes the footer stick to the bottom of the viewport */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container-custom.footer-position {
    margin-top: auto;
}

/*** CUSTOM BUTTON ***/
.button-custom {
    border-radius: 0.5em;
    text-align: center;
    text-decoration: none !important;
    border-style: none;

    width: 8em;
    max-height: 3em;
    height: 100%;
    margin-block: auto;
}

.button-red {
    background-color: var(--top-attention);
    color: var(--light-white);

}

.button-white {
    background-color: var(--light-white);
    color: var(--black);
}

.button-box {
    background-color: var(--box-color);
    color: var(--white);
}


/*** CUSTOM BORDERS ***/

.border-custom {
    border: 0.07em solid var(--border-color);
}

.border-bottom-custom {
    border-bottom: 0.07em solid var(--border-color);
}

.border-top-custom {
    border-top: 0.07em solid var(--border-color);
}

.border-left-custom {
    border-left: 0.07em solid var(--border-color);
}

.border-right-custom {
    border-right: 0.07em solid var(--border-color);
}

.border-radius-custom {
    border-radius: 1em;
}

/*** NAVBAR CLASSES ***/
.container-header {
    max-width: 90em;
    margin: auto;
}

.navbar-upper {
    background-color: var(--box-color);
    min-height: 4.25em;
    border-bottom: 0.05em solid var(--border-color);
    /*outline-color: ;*/
}

.navbar-lower {
    background-color: var(--box-color);
    height: 2.75em;

}

.navbar-lower .nav-item.nav-link {
    color: var(--white);
}

.navbar-nav>.nav-item {
    margin-right: 0.35em;
    margin-left: 0.35em;
}

.btn-search {
    border-color: var(--border-color) !important;
}

/*** CUSTOM CONTAINER ***/
.container-custom {
    max-width: 90em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    padding-left: 0;
    padding-right: 0;
}

/*** CUSTOM TEXT ***/
.price-text {
    color: var(--white);
    font-size: 1.5em;
    margin: 1em 0;
}

.form-label {
    color: var(--white);
}

.nav-item,
.nav-link {
    color: var(--white);
}

.nav-item.nav-link:hover {
    color: var(--hover-color);
}

.nav-item.nav-active:hover {
    color: var(--hover-color);
}

.nav-active {
    border-color: var(--selected-color);
    background-color: var(--selected-color);
}

.nav-footer {
    color: var(--border-color) !important;
}

.logo-image {
    max-width: 40px;
    max-height: 40px;
    transition: transform 0.3s ease-in-out;
}

.logo-image:hover {
    transform: scale(1.05);
}

.cart-image {
    transition: transform 0.3s ease-in-out;
}

.cart-image:hover {

    transform: scale(1.1);
}

.no-underline {
    text-decoration: none;
}

@media (min-width: 62em) {
    .search-container {
        margin-left: 1%;
        margin-right: 1%;
    }
}

@media (max-width: 62em) {
    .search-container {
        padding-left: 0em;
        padding-right: 0em;
    }

    .flex-row-navbar {
        flex-direction: row;
    }
}



/*SEARCHING*/
#search-results {
    position: absolute;
    background-color: var(--box-color);
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid var(--bg-color);
    z-index: 1;
    display: none;
}

#search-results ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#search-results ul li {
    padding: 10px;
    border: 1px solid var(--border-color);
    border-bottom: 1px solid ;
}

#search-results ul li:hover {
    background-color: black;
}

.input-group-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

#search-results {
    position: absolute;
    width: 100%;
}

.product-link-search {
    text-decoration: none;
    color: white;
}

.product-image-search {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}