/* .row {
    width: 100%;
} */

.center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTAINER adjusting */
.container-custom {
    max-width: 90em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    padding-left: 0;
    padding-right: 0;
}

.container-sales {
    max-width: 90em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    padding-left: 0;
    padding-right: 0;
}

.container-sales .container-custom {
    margin-top: 0;
    margin-bottom: 1.5em;
}

/* PRODUCT CATEGORY */
.product-category {
    /* background-color: red; */
    position: relative;
    overflow: hidden;
    max-width: 25em;
    max-height: 25em;
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 0.1em solid white;
    border-radius: 1em;
    transition: transform 0.3s ease;
}


.product-category img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.background-image {
    object-fit: cover;
}


.col-product {
    display: flex;
    justify-content: center;
    align-items: center;
}


.product-button-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    opacity: 0;
    transition: opacity 0.3s ease;

    /* ↓ for making the text "button" text centered*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-name {
    color: white;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 70%;
    text-align: center;
    font-size: 2vw;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.product-category:hover .product-button-text,
.product-category:hover .product-name,
.box-category:hover .product-button-text {
    opacity: 1;
}

.product-category:hover img,
.box-category:hover img {
    filter: brightness(30%);
}

.product-category:hover img,
.box-category:hover {
    transform: scale(1.2);
}

/*** OTHER ***/
.box-category {
    background-color: var(--white);
    position: relative;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    max-width: 15.625em;
    max-height: 15.625em;
    width: 100%;
    border-radius: 1em;
    align-items: center;
    transition: transform 0.3s ease;
}

.box-category img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.spacioo {
    padding: 0.75%;
    margin: 0.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 36em) {
    .product-category {
        margin-bottom: 5%;
    }

    .col-product {
        justify-content: center !important;
    }
}

@media (max-width: 36em) {
    .product-name {
        font-size: 6vw;
    }

    .responsive-drop {
        flex-direction: column !important;
        align-items: center;
    }

    .box-category:hover {
        transform: none;
    }

    .box-category {
        max-width: 100%;
    }

    .box-category img {
        object-fit: scale-down;
    }

    .box-category:hover img {
        filter: none;
    }
}

@media (min-width: 87.5em) {
    .product-category {
        max-width: 28em;
    }
}