.row {
    width: 100%;
}

.center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar {
    width: 20%;
    border-top-right-radius: 0% !important;
    border-bottom-right-radius: 0% !important;
    /*background-color: var(--box-color);*/
    background-color: var(--box-color);

}

.content {
    flex-grow: 1;
    padding: 0%;
    overflow: hidden;
}

.row-product {
    width: 100%;
    max-height: 15.625em;
    overflow-wrap: normal;
}

.border-radius-product-page {
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

.product-link,
.product-link:visited,
.product-link:hover {
    text-decoration: none;
}

.category-link {
    text-decoration: none;
    color: var(--white);
    background-color: var(--border-color);
    margin-right: 0.5em;
}

.divider {
    border-left: 1px solid var(--white);
    height: 24px;
    margin: 0 10px;
    /* Add some margin to the left and right */
    color: var(--white);
    background-color: var(--white);
}

.dropdown-custom {
    width: 12em;
    height: 2em;
    border-radius: 0.5em;
    padding: 0.3em;
    /* margin-right: 0.5em; */
    margin-right: 0.5em;
}

.dropdown-label {
    font-size: 1em;
    margin-right: 0.625em;
    color: var(--white);
    /* margin-left: 0.5em; */
}

.sort-form {
    justify-content: center;
    align-items: center;
    margin-left: 1em;
}

.price-box {
    width: 10em;

}

.form-check {
    color: white;
    padding-right: 2em;
}

.fixed-size {
    margin-top: 65% !important;
    width: 8em;
    height: 4em;
}

.thumbnail {
    max-width: 250px;
    max-height: 250px;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.page-item .page-link {
    color: var(--white);
    background-color: var(--bg-color);
    border: none;
    font-size: 1.5rem;
    text-align: center;
}

.page-item .page-link.current {
    background-color: var(--top-attention);
}

@media (max-width: 48em) {
    .variable-sizing {
        display: flex;
        flex-direction: column;
    }

    .fixed-size {
        margin-top: 0% !important;
    }

    .col-lg-10.col-md-8,
    .col-lg-2.col-md-4 {
        width: 100%;
    }

    .container-fluid.ms-3.m-2 {
        margin: 0%;
        display: none;
    }

    .row-product {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-height: none;
    }

    .col-lg-10.col-md-8,
    .col-lg-2.col-md-4 {
        width: 50%;
    }
}

@media (min-width: 576px) {
    .product-info {
        max-height: 230px;
        overflow: hidden;
    }
}