.remove-button {
    background-color: var(--top-attention);
    color: var(--light-white);
    border-radius: 0.5em;
    text-align: center;
    text-decoration: none !important;
    font-size: 1.2em;
    border-style: none;

    max-width: 3em;
    width: 100%;
    max-height: 3em;
    height: 100%;
    margin-block: auto;
}

.card {
    background: var(--bg-color);
}


/* change the size of the quantity selector */
#quantity {
    max-width: 3em;
    text-align: center;
}

.border-radius-medium {
    border-radius: 0.5em;
}

img {
    max-width: 200px;
    max-height: 200px;
}