.form-group {
    margin-bottom: 1em;
    /* set the color of the font */
    color: var(--white);
}

#delivery-address {
    /* set the color of the font */
    color: var(--white);
    border-radius: 0.3em;
    /* padding */
    padding: 0.5em;
    margin-bottom: 0.5em;
}

#finish-order {
    /* set the height */
    /* without this the button is too small, haven't found the css that causes this yet */
    height: 3em;
}