.button-custom {
    
    border-radius: 0.5em;
    text-align: center;
    text-decoration: none !important;
    border-style: none;
    
    width: 8em;
    max-height: 3em;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-block: auto;
    
}

.button-red {
    background-color: var(--top-attention);
    color: var(--light-white);
    
}

.button-white {
    background-color: var(--light-white);
    color: var(--black);
}



.button-custom:hover {
    
}

.button-custom:focus {

}