.main {
    /* set the properti*/
    display: flex;
    flex-direction: column;

    /* set the container height to the viewport height */
    min-height: 100vh;

    /* set the background color */
    background-color: var(--bg-color);
}

/* set the width of all rows to maximum */
.row {
    width: 100%;
}

.reg-text {
    text-align: center;
    color: var(--white);
}

/* text above the username and password forms */
.form-label {
    color: var(--white);
}

.picture-container {
    position: relative;
    width: 100%;
    height: 100%;

    /* max-width: 500px;
    max-height: 500px; */
    /* set the picture container to get smaller when device class <= md */

}

.picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 10%; */
    filter: blur(3px);
}

/* styling for the button and text over the image */
#register-caller {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* styling for the text over the image */
#register-caller-text {
    color: var(--white);
    font-size: 1.5em;
    /* outline using shadows */
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


/* styling for the button-custom */
.button-reg {
    /* set the button size to fill its container */
    display: block;
    width: 100%;
    height: 100%;

    border-radius: 0.5em;
    text-align: center;
    text-decoration: none !important;
    border-style: none;
}


.footer {
    width: 100%;
    text-align: center;
}