.method-button {
    width: 100% !important;
}

.row {
    width:100%;
}

.center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-text {
    white-space: nowrap;
}

.breadcrumb-item {
    font-size: 1em;
    padding: 5px;
    border-radius: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.8em;

    text-decoration: none !important;
}

/* removing all decorations from class a*/
.breadcrumb-item a {
    color: var(--color-black);
    /* Change this to the text color you want */
    text-decoration: none !important;
}

/* .breadcrumb-item:last-child {
    margin-right: 0;
    /* Remove the right margin from the last breadcrumb item */
/* } */

/* This removes the "/" */
.breadcrumb-item+.breadcrumb-item::before {
    content: "";
}

.breadcrumb-item.active {
    font-weight: bold;
    /* change the text color */
    color: var(--color-black);
}

@media(max-width: 36em) {
    .justify-content-custom {
        justify-content: start !important;
    }
}