.breadcrumb-item {
    font-size: 1em;
    /* Change this to the size you want */
    /* Change this to the text color you want */
    padding: 10px;
    /* Change this to the padding you want */
    border-radius: 0.5em;
    /* Change this to the border radius you want */
    margin-right: 15px;

    text-decoration: none !important;


}

/* removing all decoration from class a*/
.breadcrumb-item a {
    color: var(--color-black);
    /* Change this to the text color you want */
    text-decoration: none !important;
}

.breadcrumb-item:last-child {
    margin-right: 0;
    /* Remove the right margin from the last breadcrumb item */
}

/* This removes the "/" */
.breadcrumb-item+.breadcrumb-item::before {
    content: "";
}

.breadcrumb-item.active {
    font-weight: bold;
    /* change the text color */
    color: var(--top-attention);
}

.form-group {
    margin-bottom: 1em;
    /* set the color of the font */
    color: var(--white);
}

#delivery-address {
    /* set the color of the font */
    color: var(--white);
    border-radius: 0.3em;
    /* padding */
    padding: 0.5em;
    /* padding from the top of the border */
    /* padding from the bottom of the border */
    margin-bottom: 0.5em;

    /* border-custom border-radius-custom */
}