body  {
    background-color: var(--bg-color);
}

header {
    background-color: var(--box-color);
    width:100%;
}

.row {
    width:100%;
}


.col-product {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-upper {   
    background-color: var(--box-color);
    min-height: 4.25em;
    border-bottom: 0.05em solid var(--border-color);    
    /*outline-color: ;*/
}


.navbar-lower {
    background-color: var(--box-color);
    height: 2.75em;

}

.navbar-lower .nav-item.nav-link {
    color: var(--white); 
}

.navbar-nav > .nav-item {
    margin-right: 0.35em;
    margin-left: 0.35em;
}
.container-header {
    max-width: 90em;
    margin: auto;
}

.container-custom {
    max-width: 90em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.box-category {
    background-color: red;
    width: 25em;
    height: 25em;
    border: 0.1em solid white;
    border-radius: 0.5em;
}


.background-image {
  
    object-fit: cover; /* Maintain aspect ratio and cover entire container */
}

.white-text {
    color: var(--light-white)
}

.btn-search {
    border-color: var(--border-color);
}

.search-bar-custom {
    max-width: 40em;
}