body  {
    background-color: var(--bg-color);
}

header {
    background-color: var(--box-color);
    width:100%
}

.navbar-upper {
    background-color: var(--box-color);
    height: 80px;
    /*outline-color: ;*/
}

.navbar-lower {
    background-color: var(--border-color);
    height: 30px;
}

.navbar .form-control {
    position: absolute;
    top: 20px; /* Y */
    left: 455px; /* X */
    width: 430px; /* W */
    height: 40px; /* H */
}


.container-header {
    max-width: 1440px;
    margin: auto;
}

.container-main {
    max-width: 1440px;
    margin: auto;
}

.box-category {
    background-color: red;
    max-width: 380px;
    max-height: 350px;
    border: 2px solid white;
    border-radius: 8px
}

.image-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 91.84%; /* Aspect ratio: 350px / 380px */
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover entire container */
}